.container-popup{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.007);
  backdrop-filter: blur(2px);
  z-index: 150;
  display: grid;
  place-content: center;
}

.floater-post{
  padding: 8px;
  padding-top: 20px;
  width: 75vw;
  height: 55vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-rd-1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.21)
}


.swiper-cards{
  width: 75%;
  height: 160%;
}

.media-floater{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-rd-2);
}

.media-1-1{
  aspect-ratio: 1/1;
}

.media-3-4{
  aspect-ratio: 3/4;
}

.act_button_panel{
  width: fit-content;
  height: fit-content;
  padding: 0;
  background: transparent;
  border: none;
  & box-icon{
    fill: var(--terciary-color);
    margin: 0;
    padding: 0;
  }
}

.secondary_panel{
  position: relative;
  height: 100%;
}

.action_buttons{
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 1px;
}

.text_post{
  width: 85%;
  margin-inline: auto;
  text-align: center;
  max-height: 70px;
  overflow-y: auto;
}

.swiper-slide {
  position: relative;
}

.downloader_media_button{
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 0;
}

.swiper-pagination-bullet-active{
  background-color: var(--secondary-color) !important;
}

.date_post{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2px;
  z-index: 2;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .floater-post{
    width: 65vw;
    height: 70vh;
  }
  .text_post{
    max-height: 130px;
    font-size: var(--text-sz-34);
  }
  .act_button_panel{
    z-index: 5;
    scale: 1.5;
  }
  .action_buttons{
    display: flex;
    gap: .9em;
  }
  .date_post{
    font-size: var(--text-sz-34);
  }
  .downloader_media_button{
    scale: 1.5;
    right: 10px;
  }
}

@media screen and (min-width:1024px) {
  .floater-post{
    width: 30vw;
    height: 80vh;
  }
  .act_button_panel{
    cursor: pointer;
  }
  .action_buttons{
    z-index: 15;
  }
}